@using Milou.Deployer.Web.Core.Extensions
@model Milou.Deployer.Web.IisHost.Areas.Agents.AgentsViewModel
@inject IAppTime AppTime;

<h1>Agents</h1>

@if (Model.Agents.Any())
{
    @foreach (var agent in Model.Agents)
    {
        <h2>@agent.Id</h2>

        <p>Connected at: @agent.ConnectedAt.ToLocalDateTimeFormat(AppTime)</p>
        @if (agent.CurrentDeploymentTaskId is { })
        {
            <p>Current deployment task id: @agent.CurrentDeploymentTaskId</p>
        }
        else
        {
            <p>No current deployment task</p>
        }
    }
}
else
{
    <p>No agent are currently connected</p>
}

@if (Model.UnknownAgents.Any())
{
    <h2>Unknown agents</h2>
    <ul>
    @foreach (var agent in Model.UnknownAgents)
    {
        <li>Unknown agent @agent.Key</li> <span>(Connection @agent.Value)</span>
    }
	</ul>
}