@using Milou.Deployer.Web.Core.Extensions
@model Milou.Deployer.Web.IisHost.Areas.Agents.AgentsViewModel
@inject IAppTime AppTime;

<h1>Agents</h1>

@if (!Model.Agents.Any())
{
    <p>There are no registered agents</p>
}

@if (Model.ConnectedAgents.Any())
{
    <h2>Connected</h2>
    @foreach (var agent in Model.ConnectedAgents)
    {
        <h3>@agent.Id</h3>
        <p>Connected at: @agent.ConnectedAt.ToLocalDateTimeFormat(AppTime)</p>
        @if (agent.CurrentDeploymentTaskId is { })
        {
            <p>Current deployment task id: @agent.CurrentDeploymentTaskId</p>
        }
        else
        {
            <p>No current deployment task</p>
        }
    }
}
else if (Model.DisconnectedAgents.Any())
{
    <h2>Disconnected</h2>
    @foreach (var agent in Model.DisconnectedAgents)
    {
        <h3>@agent.Id</h3>
    }
}

@if (Model.UnknownAgents.Any())
{
    <h2>Unknown agents</h2>

    <ul>
        @foreach (var agent in Model.UnknownAgents)
        {
            <li>Unknown agent @agent.Key</li>
            <span>(Connection @agent.Value)</span>
        }
    </ul>
}